@namespace Idlebar.Client.Pages

<button class="buttons" id="enupg_b_@Id">
    <div class="inaline"><img src="up/up_upgenergy.png" width="5%" height="5%" /> <p class="nospace" id="enupg_p_@Id" /></div>
</button>

@code {
    [Parameter]
    public int Id { get; set; }
}