@namespace Idlebar.Client.Pages

<div id="@Id" class="@Classes" style="@Style">
    @ChildContent
</div>

@code{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool Stretch { get; set; } = false;

    [Parameter]
    public string Size { get; set; }

    [Parameter]
    public bool CenterX { get; set; } = true;

    [Parameter]
    public bool CenterY { get; set; } = false;

    [Parameter]
    public bool SpaceY { get; set; } = true;

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string Id { get; set; } = Guid.NewGuid().ToString().Substring(0, 7);

    private string Style => $"flex: {(Stretch ? "1" : "0")} 1 {Size}";
    private string Classes => $"{(CenterX ? "centerX" : "")} {(CenterY ? "centerY" : "")} {(SpaceY ? "spaceY" : "")} {Class}";
}