@namespace Idlebar.Client.Pages

<div id="rewardcontainer">
    <img id="collectoverlay" src="/img/sunrays.jpg"/>
    <img id="collectimage"/>
    <b id="collecttext"/>
    <button class="buttons" Id="questclaimy">Claim</button>
</div>

@code {

}
