@namespace Idlebar.Client.Pages 

<div id="ResetconfModal" class="modal">
    <div class="modal-content">
        <center>
            <span class="close" Id="closereset">&times;</span>
            <h1>Do you really want to reset?</h1>
            
            <div>
            <p> Doing so will reset many things such as Level, Tier and Level Upgrades
            </p><p>
            But you will also keep many things, for example Highest Level, Total Tiers, Energy, Energy Upgrades, Reward Road, Power, Power Upgrades and Collection <br />
            If your new multi is higher than your current multi, it will become your new multi. <br />
            If your new multi is lower than your required multi, you won't get a higher multi, it will stay the same.</p>
                
                <h2 id="resetconfirmationerror" /> 
                <button id="resetconfirmbtn">
                <h3>Yes</h3>
                </button>
            </div>
        </center>
    </div>
</div>
