@namespace Idlebar.Client.Pages 

<div id="RewardRoadModal" class="modal">
    <div class="modal-content">
        <center>
            <span class="close" id="closerr">&times;</span>
            
            <!-- Header -->

            <div>
                
                <h1> Reward Road Season 8: Final Bar </h1>
                <div>
                    Season 8: Final Bar has started! <br />
                    4 new trophies (1 common, 2 rare and 1 legendary) and 8 to earn!
                </div>
                <img src="up/up_season8.png">
                <hr>

                <!-- Display Progress -->

                <h2> Reward Road Progress</h2>
                <progress id="rrpbar" max="100" value="0"></progress><br />
                <span id="rewardroad" class="rr_css"></span><br />
                <button id="rewardroadb" class="prettybuttons"></button>
                <hr>

                <!-- RR Infos -->

                <h2> Reward Road Info </h2>
                <div>The Reward Road is a feature unlocked at 30k maximum tiers:<br />
                     Progress is gained by several actions<br />
                     A new level will be reached once enough progress was made<br />
                     Every level has a reward, which can be claimed at any time<br />
                     There are many different rewards<br />
                     A new season starts every main update (1.6, 1.7, etc.), make sure to complete it in time!<br />
                     Unclaimed rewards will be claimed when the next season starts and energy will be given based on leftover RRP.<br />
                </div>
                <div> You can earn Reward Road Progress (RRP) by:
                <ul>
                <li>Clicking, every 0.5 seconds (1)</li>
                <li>Upgrading a level, energy or power upgrade (5)</li>
                <li>Activating or expanding the Reversed Generator (15)</li>
                <li>Clicking the fun button (25)</li>
                <li>Reaching a new highest level (25)</li>
                <li>Completing a quest (25)</li>
                <li>Prestige</li>
                <li>Reward Codes</li>
                </ul>
                </div>
                <hr>

                <!-- Rewards list -->
                <h2> Current Reward Road Rewards </h2>
                <span id="rewardroadc" class="rr_rewards">RR</span>

                
            </div>
        </center>
    </div>
</div>
