@namespace Idlebar.Client.Pages

<div id="gameSavedModal" class="modal">
    <div class="modal-content">
        <center>
            <span class="close" id="closesaved">&times;</span>
            <h1>Your game has been saved!</h1>
            <input type="text" id="idInput" readonly />
            <button id="copyIdBtn">Copy ID</button>
            <div>Don't forget to copy your ID and save it somewhere!<br />Don't share it with strangers</div>
        </center>
    </div>
</div>
